


<div class="divCenter">
    <div class="login-container">
        
        <button class="btn btn-outline-light border">
            <a class="text-body-secondary text-decoration-none" href="/login">Login</a></button>
        <button class="btn btn-outline-light border">
            <img width="22" src="../public/iconoGithub.png" alt="">
            <a class="text-body-secondary text-decoration-none" href="/login-github">Login GITHUB</a></button> 
        <button class="btn btn-outline-light border">
            <img width="20" src="../public/iconogoogle.png" alt="">
            <a class="text-body-secondary text-decoration-none" href="/login-google">Login GOOGLE</a></button>
        
        <button class="btn btn-outline-warning"><a class="text-body-secondary text-decoration-none" href="/register">Registrate</a></button>
        <a class="text-body-secondary text-decoration-none" href="/api/session/solicitar-recuperacion-contrasena">Recuperar Password</a>
    </div>
    
    </div>