    <h1>Nueva Contrase単a</h1>
    <p>Ingrese su nueva contrase単a</p>


    <form action="/api/session/reset-password/{{recoveryToken}}" method="POST">
    <input type="hidden" name="recoveryToken" value=":recoveryToken">

    <label for="password">Contrase単a nueva:</label>
    <input type="password" id="password" name="newPassword" required>
    <button type="submit">Actualizar nueva contrase単a</button>
</form>