
<div class="divForm" >
<form class="formatForm" id="register" action="api/session/register" method="POST">
  <div >
    <label class="form-label">Nombre</label>
    <input class="form-control" name="firts_name" type="text" id="firts_name" placeholder="Nombre" required>
    
    <label  class="form-label">Apellido</label>
    <input class="form-control" name="last_name" type="text" id="last_name" placeholder="Apellido" required>
  </div>

  <div class="mb-1">
    <label class="form-label">Edad</label>
    <input class="form-control" name="age" type="text" id="age" placeholder="age" required>

    <label  class="form-label">Email</label>
    <input class="form-control" name="email" type="text" id="email" placeholder="email" required>

    <label  class="form-label">Password</label>
    <input class="form-control" name="password" type="password" id="password" placeholder="password" required>
  </div>
 
<input type="submit" value="Registro">
</form>
          

</div> 
